

@media (max-width: 5000px) {
	.App {
		display:flex;
	justify-content: center;


}

/******************  Add.js  ******************/
	.Add{
		width:430px;
	
	}
	.AddField {
		margin: 80px 10% 0 10%;
	}
	
	#Button {
		margin-left: 4px;
		height: 32px;
		display: inline-block;
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		background-color: #538fbe;
		padding: 0 10px;
		font-size: 20px;
		border: 1px solid #2d6898;
		background-image: linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);
		background-image: -o-linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);
		background-image: -moz-linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);
		background-image: -webkit-linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);
		background-image: -ms-linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(73, 132, 180)),
			color-stop(1, rgb(97, 155, 203))
		);
	}
	
	

	.AddFeature {
		margin: 10px 10% 0 10%;
	}
	#inlineFormInputName2 {
		width: 86%;
	}
	#inlineFormInputName {
		width: 250px;
	}
	
	.AddCard {
		margin: 20px auto 0 auto;

		max-width: 200px;
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		background-color: #538fbe;
		padding: 20px 70px;
		font-size: 24px;
		border: 1px solid #2d6898;
		background-image: linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);
		background-image: -o-linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);
		background-image: -moz-linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);
		background-image: -webkit-linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);
		background-image: -ms-linear-gradient(
			bottom,
			rgb(73, 132, 180) 0%,
			rgb(97, 155, 203) 100%
		);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(73, 132, 180)),
			color-stop(1, rgb(97, 155, 203))
		);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
			inset 0px 1px 0px rgba(255, 255, 255, 0.3),
			inset 0px 0px 3px rgba(255, 255, 255, 0.5);
		-moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
			inset 0px 1px 0px rgba(255, 255, 255, 0.3),
			inset 0px 0px 3px rgba(255, 255, 255, 0.5);
		box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
			inset 0px 1px 0px rgba(255, 255, 255, 0.3),
			inset 0px 0px 3px rgba(255, 255, 255, 0.5);
	}


/******************  AddForm.js  ******************/

	.featureItem{
		border-bottom: 1px solid;
		width:85%;
		 list-style-type: none;
		
	}
	

	
/******************  ViewAll.js  ******************/
.ViewAllSearch {
		margin: 60px 10px 0 10px;
		
	}
	#inlineFormInputName{
		margin-right:0;

	}
	.ViewAll {
		margin-bottom: 30px;
	}
	#autoCard {
		border: 1px solid;
		margin: 5px;
		border-radius: 8%;
		padding: 20px;
		height: 327px;
	}
	.makeModel {
		font-size: 25px;
		line-height: 25px;
		margin-left: 10px;
	}
	.number {
		line-height: 1;
		font-size: 50px;
	}
	.headWrapper {
		display: flex;
		border-bottom: 1px solid;
		padding: 0 0 20px 5px;
	}
	.bodyWrapper {
		display: flex;
		padding-top: 20px;
	}
	.left {
		width: 128px;
		border-right: 1px solid;
		font-size: 25px;
		height: 195px;
	}
	.right {
		font-size: 25px;
		padding-left: 15px;
	}
	.bodyWrapper ul {
		list-style: square;
	}
	
	
/******************  Login.js  ******************/
	.Login {

	display: grid;
	justify-content: center;
		width: 373px;
	/* The image used */
	background-image: url('https://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/202004/837397764.jpg');
	/* Add the blur effect */
  /* background: blur(8px); */
  /* -webkit-filter: blur(8px); */

  /* Full height */
  /* height: 100%; */
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#formBasicEmail{
	color:white;
}


.LoginForm {
	margin: 250px;
	width: 300px;
	color:white;
}
#muted{
	color:white;
}
#LoginButton{
	margin-left: 4px;
    height: 35px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 0 10px;
    font-size: 20px;
    border: 1px solid #2d6898;
    background-image: linear-gradient( bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100% );
    background-image: -ms-linear-gradient( bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100% );
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(73, 132, 180)), color-stop(1, rgb(97, 155, 203)) );

}
/******************  Search.js  ******************/
.Search {
		border-radius: 15px;
		border: 2px solid #343a40;
		width: 325px;
		padding: 25px;
		margin: 200px auto 0 auto;
	}
	
	

	.SearchBar {
		width: 270px;
	}

/******************  About.js  ******************/

.about {
		margin-top: 100px;
	}
/******************  BaseNav.js  ******************/
.searchIcon{
	background: url(https://user-images.githubusercontent.com/65630204/92503164-deb23780-f1ce-11ea-8402-764f626ce10a.png) no-repeat;
}

}
